/*---ЗАГЛАВНАЯ НАДПИСЬ----------------------------------------------------*/
.text1 {
	position: absolute;
	top: 180px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	color: #30D5C8;
	font-size: 200%;
	line-height: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 7px rgba(0, 191, 255, 0.8);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
.text2 {
	background-color: #30D5C8;
	padding-left: 60px;
	padding-right: 60px;
	font-weight: lighter;
	color: #3a3a3a;
	box-shadow: 0 0 30px rgba(0, 191, 255, 0.8);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}